
/*------------------------------ Global Styles -----------------------------------------*/
 
 
 @font-face {
  font-family: 'CaslonBookBE-Regular';
  src: url('CaslonBookBE-Regular.woff') format('woff'),
       url('CaslonBookBE-Regular.ttf') format('truetype'),
       url('CaslonBookBE-Regular.svg#CaslonBookBE-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaslonBookBE-Regular';
  src: url('caslon-book-be-regular.eot');
  src: url('.caslon-book-be-regular.eot?#iefix') format('embedded-opentype'),
       url('caslon-book-be-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaslonRR-BoldExtraCond';
  src: url('CaslonRR-BoldExtraCond.eot');
  src: url('CaslonRR-BoldExtraCond.eot?#iefix') format('embedded-opentype'),
       url('CaslonRR-BoldExtraCond.woff2') format('woff2'),
       url('CaslonRR-BoldExtraCond.woff') format('woff'),
       url('CaslonRR-BoldExtraCond.ttf') format('truetype'),
       url('CaslonRR-BoldExtraCond.svg#CaslonRR-BoldExtraCond') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierStd';
  src: url('fonts/CourierStd.otf');
  src: url('fonts/CourierStd.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: 'CaslonBookBE-Regular';
  font-size: 36px;
  font-weight: normal;
  color: #000; }

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*------------------------------ Display Type -----------------------------------------*/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #000;
  font-weight: normal;
  line-height: .9;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; 
}

 .reveal h1 {
  font-size: 3.77em; 
}

 h1.secondary {
  letter-spacing:-.03em;
  font-size: 4.5em;
  color: rgb(255, 255, 255);
}

h1.series {
  font-size: 4.5em; 
  letter-spacing:-.02em;
}

h1.gen_call {
  font-family:Impact;
  font-size:10em;
}

.c_subtitle {
  position:absolute;
  width:100%;
  bottom:17%;
  color:rgb(255,255,255);
  -webkit-text-stroke: 1px #000;
/*   text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;*/
}

div.sub_left {
  float:left;
  display:block;
  width:50%;
  text-align:center;
  font-family:sans-serif;
}

div.sub_right {
  float:right;
  display:block;
  width:50%;
  text-align:center;
  font-family:sans-serif;
}

div.sub_left p, div.sub_right p {
display:inline-block;
background:#000;
}

div.more_left {
  float:left;
  display:block;
  width:50%;
  text-align:center;
}

div.more_right {
  float:right;
  display:block;
  width:50%;
  text-align:center;

}

div.more_left p, div.more_right p {
  color:#fff;
  font-size:80%;
}

.video1 {
  position:absolute;
  width:100%;
  top:600px;
  color:rgb(255,255,255);
}

h4.s_subtitle {
 color:rgb(255,255,255);
 font-weight:normal;
 padding-top:50px;
  -webkit-text-stroke: 1px #000;
/*   text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;*/

}


/*------------------------------ Timer Styles -----------------------------------------*/


.count {font-size:425%;position:absolute;top:0;right:1%;z-index:9999;width:4em;}

#timer_container {
  font-family:Helvetica, sans-serif;
  top:0;
  right:1%;
  z-index:9999;
  font-size:175%;
  width:100%;float:left;
  text-align:right;
  width:50%; 
   -webkit-text-stroke: 1px #fff;
/*   text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;*/
     }

#full {font-family:Helvetica, sans-serif;font-size:175%;text-align:right;float:left;width:100%; -webkit-text-stroke: 1px #fff;}
div.split {width:3.5em;height:.12em;background:black;transform:rotate(-35deg);-webkit-transform:rotate(-35deg);-moz-transform:rotate(-35deg);position;absolute;margin-top:40%;margin-left:12%;border:1px solid #fff;}


/*------------------------------ Global Structure Adjustments -----------------------------------------*/

.split_l {
float:left;
position:relative;
width:50%;
}

.split_r {
float:right;
position:relative;
width:50%;
}

.split_l p, .split_r p {
text-align:left;
margin-left:3%;
font-size:80%;
line-height:1.2;
}

.reveal section img {
  margin: 0px 0px;
}

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

/*------------------------------ Images -----------------------------------------*/

.glow { 
animation:glo 0.5s infinite;
}

.glow-m { 
animation:glo 0.6s infinite;
}

@keyframes glo {
   0% { -webkit-filter: brightness(1);filter: brightness(1); }
   97% { -webkit-filter: brightness(1);filter: brightness(1);}
   98% { -webkit-filter: brightness(2.05);filter: brightness(2.05); }   
   100% { -webkit-filter: brightness(2.05);filter: brightness(2.05); } 
 }
 
 
 @-webkit-keyframes glo {
   0% { -webkit-filter: brightness(1);filter: brightness(1); }
   97% { -webkit-filter: brightness(1);filter: brightness(1);}
   98% { -webkit-filter: brightness(2.05);filter: brightness(2.05); }   
   100% { -webkit-filter: brightness(2.05);filter: brightness(2.05); }  
 }
 
 @-moz-keyframes glo {
   0% { -webkit-filter: brightness(1);filter: brightness(1); }
   97% { -webkit-filter: brightness(1);filter: brightness(1);}
   98% { -webkit-filter: brightness(2.05);filter: brightness(2.05); }   
   100% { -webkit-filter: brightness(2.05);filter: brightness(2.05); }       
 }

/*------------------------------ PART 1 - specificity -----------------------------------------*/

/* slide 4 gi as type background */
.img_text {
  color: #FFF;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(../assets/explo.gif) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

/* slide 5 fixed text */
.text {
  position:fixed;
  padding:2%;
  margin:5%;
  top:-3%;
  left:-5%;
  width:115%;
  z-index:100;
  height:100%;
}

.text p {
text-align:left;
line-height:1.2em;
font-size:.8em;
font-family: Times, serif;
width:100%;
margin-bottom:.5em;
}

/* Slide 5 Cartier images over txt */
.floating-above-l {
  z-index:500;
  position:absolute;
  top:180px;
  left:50px;
}

.floating-above-r {
  z-index:500;
  position:absolute;
  top:160px;
  right:50px;
}

/* Book Animations */
div.rec1 {
  position:absolute;
  width:380px;
  height:650px;
  top:-20px;
  left:-200px;
  z-index:0;
  animation: move1 10s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  padding:0;
}

div.rec1 img,
div.rec2 img,
div.rec3 img{
  max-width:100%;
  max-height:100%; 
  margin:0;
}

@keyframes move1 {
  0% {left:-200px;top:-20px;}
  25% {left:720px;top:-20px;}
  50% {left:720px;top:120px;}
  75% {left:-200px;top:120px;}
  100% {left:-200px;top:-20px;}
}

div.rec2 {
  position:absolute;
  width:400px;
  height:650px;
  top:50px;
  left:-100px;
  z-index:100;
  animation: move2 5s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 6s;  
}

@keyframes move2 {
  0% {left:-100px;}
  50% {left:720px;}
  100% {left:-100px;}
}

div.rec3 {
  position:absolute;
  width:380px;
  height:650px;
  top:120px;
  left:0px;
  z-index:200;
  animation: move3 5s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 9s;
}

@keyframes move3 {
  0% {left:0px;top:120px;}
  25% {left:720px;top:120px;}
  50% {left:720px;top:-20px;}
  75% {left:0px;top:-20px;}
  100% {left:0px;top:120px;}
}


h1.inqu {
  font-size:18em;
}

.blur {
  -webkit-animation: blur 10s infinite;
  opacity:0;
}
.hold_one {
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}
.hold_two {
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation-delay: 4s;
}
.hold_thr {
    -webkit-animation-delay: 6s; /* Chrome, Safari, Opera */
    animation-delay: 6s;

}

@-webkit-keyframes blur {
  0% { -webkit-filter: blur(0px);opacity:1; }
  20% { -webkit-filter: blur(10px);}
  40% { -webkit-filter: blur(0px);opacity:1;color:white;}
  60%   { -webkit-filter: blur(10px);opacity:1; }
  100%  { -webkit-filter: blur(0px);opacity:1; }
  
}

h1.conti {
  font-size:18em;
  color: #000;
}
span.space {
  padding-left:32px;
  padding-right:32px;
}

/*------------------------------ PART 2 - specificity -----------------------------------------*/


h1.flashing-2 {
  color: rgb(255, 0 , 0);
  animation: gradual 8s infinite;
}

@keyframes gradual {
  0%, 100% { opacity: 0;}
  50% { opacity: 1;}
}

#myContainer {
  width:960px;
  z-index:100;
  height:700px;
  position:relative;
}

/*------------------------------ DIAGRAMS -----------------------------------------*/

html.someclass {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdb28+0,ff9e28+23,0200b2+100 */
background: #ffdb28; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ffdb28 0%, #ff9e28 23%, #0200b2 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #ffdb28 0%,#ff9e28 23%,#0200b2 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #ffdb28 0%,#ff9e28 23%,#0200b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdb28', endColorstr='#0200b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.branches {
  float:left;
  position:relative;
  border-top:3px solid #fff;
  width:600px;
  height:100px;
  border-left:3px solid #fff;
  border-right:3px solid #fff;
  margin-top:40px;
  margin-left:170px;
}

div.branch_indy {
  float:left;
  margin-left:50%;
  margin-top:-2%;
  height:110%;
  border-left:3px solid #fff;
}

h2.dia_title {
  font-family:sans-serif;
  font-weight:bold;
  color:brown;
}

div.dia_text {
  position:absolute !important;
  left:0;
  background:#000;
  color:rgb(255,255,255);
  text-align:left;
  font-size:.5em;
  width:39%;
  margin-left:-19%;
  bottom:0;
  font-family:sans-serif;
  text-align:center;

}


/*------------------------------ PART 3 - specificity -----------------------------------------*/

#divine-king{
  position:absolute;
}
 
span.dia_dates {
  float:left;
  display:inline-block;
  width:100%;
  top:0 !important;
  margin-top:0 !important;
  padding-top:0 !important;
  color:rgb(255,255,255);
}

span.dia_dates img {
  max-width:20%;
  top:0 !important;
  margin-top:0 !important;
  padding-top:0 !important;
}

img.desk {
  position:absolute;
  bottom:-2%;
  z-index:9999;
  left:0;
}

div.dia_columns {
  float:left;
  width:100%;
    color:rgb(255,255,255);

}

div.bump_top {
    margin-top:4%;
}

div.dia_tri {
  float:left;
  width:33%;
  font-size:.5em;
  font-family:sans-serif;
}

video.fullOne {
  float:left;
  opacity:.3;
  width:89%;
  margin-left:3%;
}

.red {
  color: rgb(255, 0, 0);
}

div.branchesTwo {
  float:left;
  position:relative;
  width:600px;
  height:150px;
  margin-top:1%;
  border-left:3px solid #fff;
  border-right:3px solid #fff;
  margin-left:170px;
}

div.branch_indyTwo {
  float:left;
  margin-left:50%;
  height:100%;
  border-left:3px solid #fff;
}

div.branch_indyTwo p {
  float:left;
  margin-left:15%;
  margin-top:5%;
  color:#fff;
  font-size:.8rem;
  line-height:1.2rem;
  font-family:sans-serif;
  max-width:70%;
}

div.dia_call {
  float:left;
  width:33%;
  margin-top:1%;
  font-size:.8em;
  line-height:1.2em;
  font-family:sans-serif;
  font-weight:bolder;
  color:rgb(255,255,0);
  text-transform: uppercase;
}
span.dia_call_desc {
  font-size:.5em;
  line-height:1.2em;
  margin-top:20px;
  float:left;
  width:100%;
  display:inline-block;
  font-weight:normal;
  text-transform:lowercase;
}

video.full {
  float:left;
  opacity:.3;
}

div.video_fade {
  position:relative;
  float:left;
  top:-170px;
  z-index:-1;
  left:5%;
}

div.video_fadeOne {
  position:relative;
  float:left;
  top:-50px;
  z-index:-1;
  left:5%;
}

div.video_grad {
  top:0;
  position:absolute;
  width:95%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  height:100px;
  z-index:9999;
}






